.visit-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 250px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #4a8996;
    padding: 10px 10px;
    position: relative;
    word-wrap: break-word;
    cursor: move;
    margin: 7px;
}
.visit-field{
    padding: 5px 0;
    font-weight: lighter;
    color: #4d8692;
}