.input {
    padding: 10px 10px;
    width: 70%;
    margin-top: 20px;
    border: 1px solid silver;
    border-radius: 3px;
}
.select-doctor {
    padding: 10px 10px;
    width: 75%;
    margin-top: 20px;
    border: 1px solid silver;
    border-radius: 3px;
    color: #4a8996;
    font-weight: bold;
}
.select-doctor:focus {
    outline: 0;
}