.hidden {
    display: none;
}
.my-modal {
    width: 30%;
    height: auto;
    position: absolute;
    top: 25%;
    right: 35%;
    border-radius: 20px;
    text-align: end;
    background-color: aliceblue;
    box-sizing: content-box;
}
.form-title {
    margin-left: 15px;
    font-size: 25px;
    color: rgba(77,134,146,0.9);
}
.form-close {
    padding: 5px 12px 7px 13px;
    font-size: 25px;
    color: white;
    border-radius: 2px;
    background: rgba(77,134,146,0.9);
    cursor: pointer;
}
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 12px 24px;
    margin-right: 40px;
    color: #4d8692;
    font-size: 20px;
    border: 2px solid rgb(77,134,146);
    border-radius: 50px;
    background: none;
    cursor: pointer;

}
.btn:hover {
    background-color: rgb(77,134,146);
    color: #fff;
    transition: ease 0.5s;
}
.submit {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: 1px solid rgba(77,134,146,0.9);
    background: rgba(77,134,146,0.9);
    border-radius: 20px;
    cursor: pointer;
}
.card-board {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 35px;
    height: auto;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.empty-text {
    height: 500px;
    margin: auto;
    margin-top: 50px;
    font-size: 22px;
    color: silver;
}