.wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    background: url("../img/background.jpg") repeat center fixed rgba(0,0,0,0.3);
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Open Sans', 'Montserrat', sans-serif;
}
.container {
    margin: 0 auto;
    width: 90%;
}
.header {
    background: rgba(255, 255, 255, 0.8);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}